<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <meta name="application-name" content="{{=request.application}}">
    <meta name="google-site-verification" content="">

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

      <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{=URL('static','dist/css/skins/_all-skins.min.css')}}">
  <!-- Morris chart -->
  <link rel="stylesheet" href="{{=URL('static','bower_components/morris.js/morris.css')}}">
  <!-- jvectormap -->
  <link rel="stylesheet" href="{{=URL('static','bower_components/jvectormap/jquery-jvectormap.css')}}">
  <!-- Date Picker -->
  <link rel="stylesheet" href="{{=URL('static','bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{=URL('static','bower_components/bootstrap-daterangepicker/daterangepicker.css')}}">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{{=URL('static','plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}">

      <!--Tasneem includes-->
      <script type="text/javascript" src="scripts/jquery.js"></script>
<!--[if lte IE 9]>
<script src="scripts/IE9.js"></script>
<![endif]-->
      <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
       <link rel="stylesheet" href="{{=URL('static','bower_components/bootstrap/dist/css/bootstrap.min.css')}}"/>
  <!-- Font Awesome -->
      <link rel="stylesheet" href="{{=URL('static','bower_components/font-awesome/css/font-awesome.min.css')}}"/>

  <!-- Ionicons -->
       <link rel="stylesheet" href="{{=URL('static','bower_components/Ionicons/css/ionicons.min.css')}}"/>

  <!-- Theme style -->
       <link rel="stylesheet" href="{{=URL('static','dist/css/AdminLTE.min.css')}}"/>
  <!-- iCheck -->
       <link rel="stylesheet" href="{{=URL('static','plugins/iCheck/square/blue.css')}}"/>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<!----------------------------------------------->
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
  <!-- Navbar ======================================= -->
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container-fluid main-container">
        {{include}}
    </div>

    <!-- Share ============================y============ -->
    <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
  <!-- jQuery 3 -->
<script src="{{=URL('static','bower_components/jquery/dist/jquery.min.js')}}">
</script>
<!-- Bootstrap 3.3.7 -->
<script src="{{=URL('static','bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- iCheck -->
<script src="{{=URL('static','plugins/iCheck/icheck.min.js')}}"></script>

<!-- jQuery UI 1.11.4 -->
<script src="{{=URL('static','bower_components/jquery-ui/jquery-ui.min.js')}}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>

<!-- Morris.js charts -->
<script src="{{=URL('static','bower_components/raphael/raphael.min.js')}}"></script>
<script src="{{=URL('static','bower_components/morris.js/morris.min.js')}}"></script>
<!-- Sparkline -->
<script src="{{=URL('static','bower_components/jquery-sparkline/dist/jquery.sparkline.min.js')}}"></script>
<!-- jvectormap -->
<script src="{{=URL('static','plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
<script src="{{=URL('static','plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
<!-- jQuery Knob Chart -->
<script src="{{=URL('static','bower_components/jquery-knob/dist/jquery.knob.min.js')}}"></script>
<!-- daterangepicker -->
<script src="{{=URL('static','bower_components/moment/min/moment.min.js')}}"></script>
<script src="{{=URL('static','bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
<!-- datepicker -->
<script src="{{=URL('static','bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{{=URL('static','plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}"></script>
<!-- Slimscroll -->
<script src="{{=URL('static','bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
<!-- FastClick -->
<script src="{{=URL('static','bower_components/fastclick/lib/fastclick.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{=URL('static','dist/js/adminlte.min.js')}}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{=URL('static','dist/js/pages/dashboard.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{=URL('static','dist/js/demo.js')}}"></script>



  <!-- FLOT CHARTS -->
<script src="{{=URL('static','bower_components/Flot/jquery.flot.js')}}"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="{{=URL('static','bower_components/Flot/jquery.flot.resize.js')}}"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="{{=URL('static','bower_components/Flot/jquery.flot.pie.js')}}"></script>
<!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
<script src="{{=URL('static','bower_components/Flot/jquery.flot.categories.js')}}"></script>

<!-- ChartJS -->
<script src="{{=URL('static','bower_components/Chart.js/Chart.js')}}"></script>


  </body>
</html>
